<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item text-end">
    <%= link_to "Gérer les documents", class:"nav-link sidebar-item" %>
  </li>
  <li class="nav-item text-end">
    <%= link_to "Gérer les présentations", class:"nav-link sidebar-item" %>
  </li>
  <li class="nav-item text-end">
    <%= link_to "Gérer les actualités", class:"nav-link sidebar-item" %>
  </li>
</ul>

<hr>