<nav class="navbar navbar-expand-lg">
  <div class="container-fluid p-2">
    <%= link_to "SENS·COMMUN", root_path, class: "navbar-brand mx-5 p-1" %>
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_default" aria-controls="navbar_default" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar_default">
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item my-auto">
          <%= link_to "Présentation de la plateforme", pages_presentation_path, class:"text-light text-decoration-none mx-3" %>
        </li>
        <li class="nav-item my-auto">
          <%= link_to "Infos/Contact", pages_contact_path, class: "text-light text-decoration-none mx-3" %>
        </li>
      </ul>