<div class="d-flex">
  <div class="d-flex flex-column">
    <h2 class="text-success text-center"> <%= @view_title_section1 %> </h2>
      <%= render "organizations/list" %>
    <h2 class="text-success text-center"> <%= @view_title_section2 %> </h2>
      <%= render "private_messages/list" %>
  </div>
</div>