<nav class="navbar fixed-bottom navbar-expand navbar-dark border-0">
  <div class="collapse navbar-collapse">
    <div class="navbar-nav mx-auto">
      <a class="nav-item mx-5 my-4 text-light" href="#">Informations légales</a>
      <a class="nav-item mx-5 my-4 text-light" href="mailto: sens@communs.fr">Contacter le webmaster</a>
    </div>
  </div>
</nav>