<nav class="navbar fixed-bottom navbar-expand navbar-dark border-0">
  <div class="collapse navbar-collapse">
    <div class="navbar-nav mx-auto">
      <a class="nav-item nav-link border-0" href="#">Informations légales</a>
      <a class="nav-item nav-link border-0" href="mailto: fabcom@communs.fr">Contacter le webmaster</a>
    </div>
  </div>
</nav>