<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">

  <%= render "user/partials/sidebars/shared/dash" %>
  <hr>

  <% if LegalRep.exists?(user: current_user) %>
    <%= render "user/partials/sidebars/legrep/manage" %>
    <%= render "user/partials/sidebars/legrep/data" %>
  <% end %>

  <%= render "user/partials/sidebars/shared/profile" %>
  
</div>