<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity_sector.name %>
</p>

<%= link_to 'Edit', edit_activity_sector_path(@activity_sector) %> |
<%= link_to 'Back', activity_sectors_path %>
