<div class="d-flex">
  <div class="d-flex flex-column">
    <h1 class="text-light text-center mb-5">Actualités récentes</h1>
    <h2 class="text-secondary mt-3"><%= @render_title_first %></h2>
    <%= render "#{@render_view_first}"%>
    <h2 class="text-secondary mt-3"><%= @render_title_second %></h2>
    <%= render "#{@render_view_second}"%>
  </div>
</div>