<div class="d-flex justify-content-center my-4">
  <h2 class="text-success">Écrire un message</h2>
</div>
<%= render 'form', private_message: @private_message %>
<div class="d-flex justify-content-end">
  <%= link_to 'Retour à la liste des messages', private_messages_path , class: "btn btn-sm btn-info"%>
</div>