<%= render "partials/navbars/shared/start" %>
      
      <div class="d-flex">
        <span class="nav-item">
          <%= link_to 'ORGANISATIONS', user_dashboards_organizations_path, class: "btn btn-outline-info text-light mx-3" %>
        </span>
      </div>

      <div class="d-flex">
        <span class="nav-item">
          <%= link_to 'TABLEAU DE BORD', user_dashboards_index_path, class: "btn btn-outline-success text-light mx-3" %>
        </span>
      </div>

      <div class="d-flex">
        <span class="nav-item">
          <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger text-light mx-3" %> 
        </span>
      </div>

    </div>
  </div>
</nav>