
<div class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container justify-content-align bg-dark rounded my-auto"style="--bs-bg-opacity: .5;">
    <div class="mx-auto my-2 text-center">
      <h1 class="text-info">Nous Contacter</h1>
      <br>
      <h4> Sens-Commun <br>
      83 Boulevard MacDonald <br>
      75019 Paris <br>
      FRANCE
      </h4>
    </div>
    <div class="mx-auto my-2 text-center">
    <%= render 'visitor_messages/form', visitor_message: @visitor_message %>
    </div>
  </div>
</div>

