
<div class="jumbotron jumbotron-fluid justify-content-center align-items-center">
  <div class="container justify-content-align bg-dark rounded my-auto"style="--bs-bg-opacity: .5;">
    <div class="mx-auto my-2 text-center">
      <h1 class="text-info">Nous Contacter</h1>
      <br>
      <h4> Lorem ipsum dolor sit amet, consectetur adip</h4>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nom</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Votre nom">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Prénom</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Votre prénom">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@exemple.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Votre Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

