<div id="index-intro" class="container-fluid mb-5">

  <div class="row hero">
    <div class="col-8 call bg-overdark text-center m-auto p-5">
      <h1 class="my-3">Prenez part à l'économie sociale et solidaire !</h1>
      <p class="text-light mt-4">Vous êtes chez SENS·COMMUN</p>
      <a href="#index-presentation" >
        <button class="btn btn-outline-info mt-4">Découvrir</button>
      </a>
    </div>
  </div>

</div>

<div id="index-presentation" class="container-fluid">
<div class="px-4 py-5 my-5 text-center">

  <div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Découvrez Nos Organisations</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Parcourez les organisations par secteurs d'activité et par zones géographiques </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="http://127.0.0.1:3000/user/sign_in">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Voir la liste des organisations</button>
        </a>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="container px-4 py-5" id="featured-3">
      <h1 class="display-5 fw-bold">Parties Prenantes</h1>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <h2>Devenez partie prenante</h2>
          <p>Effectuez des demandes de participations auprès de vos organisations favorites.</p>
        </div>
        <div class="feature col">
          <h2>Accédez aux données</h2>
          <p>Accédez aux informations des organisations auxquelles vous participez.</p>
        </div>
      </div>
      </div>
    </div>
  
  
  </div>

  <div class="b-example-divider"></div>


  <div class="container my-5"> 
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="container px-4 py-5" id="featured-3">
        <h1 class="display-5 fw-bold">Dirigeants d'Organisations </h1>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <h2>Gérez vos organisations</h2>
            <p>Un tableau de bord vous permet de centraliser les données de vos organisations.</p>
          </div>
          <div class="feature col">
            <h2>Gagnez en visibilité</h2> 
            <p>Sens-Commun vous permet de partager des informations sur votre organisation. </p>
          </div>
          <div class="feature col">
            <h2>Communiquez simplement </h2>
            <p>Gérer les accès de vos données aux parties prenantes de vos organisations.</p>
          </div>
        </div>
      </div>
    
    
    </div>
</div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white"> Rejoignez nous</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">Vous avez encore des doutes sur l'utilité de notre application ? contactez-nous afin d'en savoir plus sur notre fonctionnement et les services proposés. Sinon penses a t'inscrire c'est gratuit !! </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="http://127.0.0.1:3000/pages/contact">
        <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"  >Contactez nous</button>
      </a>
      <a href="http://127.0.0.1:3000/user/sign_up">
        <button type="button" class="btn btn-outline-light btn-lg px-4">S'inscrire</button>
      </a>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row text-end pb-5 me-5">
    <a href="#index-intro" >
      <button class="btn btn-outline-light mt-4">Revenir en haut</button>
    </a>
  </div>
</div>