<div id="index-intro" class="container-fluid">

  <div class="row hero">
    <div class="col-8 hero__call m-auto p-5">
      <h1 class="my-3">Prenez part à l'économie sociale et solidaire !</h1>
      <p class="text-light mt-4">Vous êtes chez SENS·COMMUN</p>
      <button class="btn btn-outline-success mt-4">Découvrir</button>
    </div>
  </div>

</div>

<div id="index-presentation" class="container-fluid">

</div>