<div id="index-intro" class="container-fluid mb-5">

  <div class="row hero">
    <div class="col-8 hero__call m-auto p-5">
      <h1 class="my-3">Prenez part à l'économie sociale et solidaire !</h1>
      <p class="text-light mt-4">Vous êtes chez SENS·COMMUN</p>
      <a href="#index-presentation" >
        <button class="btn btn-outline-warning mt-4">Découvrir</button>
      </a>
    </div>
  </div>

</div>

<div id="index-presentation" class="container-fluid">

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Gagner en visibilité</h1>
        <p class="lead"> Sens commun vous permez de mettre en ligne vos informations et gérer les droits d'accès a celles-ci. Notre application vous permez donc d'être transparent avec nos utilisateurs et instauré une confiance avec vos parties prenantes actuels et futurs. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Créer mon organisation</button>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Gérer vos parties prenantes </h1>
        <p class="col-lg-10 fs-4"> Votre tableau de bord vous permez de gérer au mieux les informations partagés avec vos parties prenantes, vous pouvez également gérer les autorisations d'accès. Invitez d'autres parties prenantes a vous rejoindre sur l'application. </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
          <hr class="my-4">
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Devenez partie prenantes</h1>
        <p class="lead">Notre application vous offre la possibilité de devenir partie prenante d'une autre organisation, vous pouvez ensuite gérer la liste des organisations dont vous êtes parties prenantes depuis votre tableau de bord. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Je deviens partie prenante </button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="" alt="" width="720">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white"> Rejoignez nous</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Vous avez encore des doutes sur l'utilité de notre application ? contactez-nous afin d'en savoir plus sur notre fonctionnement et les services proposés. Sinon pense a t'inscrire c'est gratuit !! </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Contactez nous</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">S'inscrire</button>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider mb-0"></div>
  
</div>