<div class="d-flex" >
  <div class="d-flex flex-column">
    <h3 class="text-info text-start mt-5 ms-5"><%=@view_title_section1%></h3>
      <%=render "organizations/list"%>
    <h3 class="text-info text-start mt-5"><%=@view_title_section2%></h3>
      <%=render "private_messages/list"%>
  </div>
</div>