<h1>Pages#presentation</h1>
<div class="container-lg">
<img src="..." class="rounded float-start" alt="...">
<p class="text-end">
Devient partie prenante d'une organisation
</p>
</div>
<div class="container-lg">
<img src="..." class="rounded float-end" alt="...">
<p>
Enregistre ton organisation
</p>
</div>
<div class="container-lg">
<img src="..." class="rounded float-start" alt="...">
<p class="text-end"> 
Gestion de ton organisation 
</p>
</div>
<button type="button" class="btn btn-secondary">Rejoins-nous</button>
