<hr class="mb-3">

<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <%= link_to "Éditer mon profil", edit_profile_path(current_user.profile), class:"btn btn-info btn-outline-light py-1" %>
  </li>
</ul>