<h1>Editing Stakeholder Category</h1>

<%= render 'form', stakeholder_category: @stakeholder_category %>

<%= link_to 'Show', @stakeholder_category %> |
<%= link_to 'Back', stakeholder_categories_path %>
