<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stakeholder_category.name %>
</p>

<%= link_to 'Edit', edit_stakeholder_category_path(@stakeholder_category) %> |
<%= link_to 'Back', stakeholder_categories_path %>
