<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @stakeholder_requests.each do |stakeholder_request| %>
      <tr>
        <td><%= stakeholder_request.user_id %></td>
        <td><%= stakeholder_request.message %></td>
        <td><%= link_to "Accepter", stakeholder_request_path(stakeholder_request), :method=> :patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>