<table>
  <thead>
    <tr>
      <th>Utilisateur</th>
      <th>Message</th>
      <th>Catégorie ?</th>
    </tr>
  </thead>
  <tbody>
    <% @stakeholder_requests.each do |stakeholder_request| %>
      <tr>
        <td><%= stakeholder_request.user_id %></td>
        <td><%= stakeholder_request.message %></td>
        <td><%= render "stakeholder_requests/form", stakeholder_request: stakeholder_request %><br></td>
      </tr>
    <% end %>
  </tbody>
</table>