.hero {
  background-image: url("assets/hero-image.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 90vh;
}

.call {
  background: rgba(0, 0, 0, 0.44);
  border-radius: 77px;
  h1 {
    opacity: 0.88;
  }
  p {
    opacity: 0.77;
  }
  button {
    border-radius: 66px;
    padding: 11px 66px;
  }
}



.card03 {
  text-align: center;
  border-radius: 77px;
  background-color: rgb(214, 212, 212);
  border-radius: 70px;
  box-shadow: 10px 5px 5px rgba(26, 25, 25, 0.548);

  &__bloc {
    justify-content: center;
  }

  h1 {
    color: $txt-dark--medium;
    font-size: 2em;
    font-weight: 600;
  }
  h2 {
    color: $txt-grey--strong;
    font-size: 1.4em;
  }
  p {
    color: $txt-grey--medium;
    font-size: 1em;
  }
}