.hero {
  background-image: url("assets/hero-image.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 90vh;
  &__call {
    background: rgba(0, 0, 0, 0.44);
    text-align: center;
    border-radius: 77px;
    h1 {
      opacity: 0.88;
    }
    p {
      opacity: 0.77;
    }
    button {
      border-radius: 66px;
      padding: 11px 66px;
    }
  }
}