<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
  <h3><%=link_to "CONSOLE ADMINISTRATEUR", admin_authenticated_root_path, class:"mb-3 mb-md-0 me-md-auto text-success text-decoration-none"%></h3>

  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <%@sidebar_links.each do |current|%>
      <li class="nav-item">
        <%= link_to "#{current}", admin_authenticated_root_path(panel: current), class:"btn btn-outline-success my-2 category-link" %>
      </li>
    <%end%>
  </ul>
  <hr>

  <ul class="nav nav-pills flex-column mb-auto">
    <span class="text-end mb-2"><b><%=current_admin.email%></b></span>
    <li class="nav-item">
      <%= link_to "Éditer mes identifiants", edit_admin_registration_path, class:"nav-link sidebar-item" %>
    </li>
  </ul>
</div>