<div class="d-flex">
  <div class="d-flex flex-column" id="sidebar">
    <%= render "user/partials/shared/sidebar"%>
  </div>
  <div class="d-flex flex-column m-5" id="panel" style="width:100%">
    <h3><%= @render_title %></h3>
    <%= render "#{@render_view}"%>
  </div>
</div>