<div class="d-flex">
  <div class="d-flex flex-column" id="sidebar">
    <%= render "user/partials/sidebar_organizations"%>
  </div>
  <div class="d-flex flex-column m-5" id="panel">
    <%= render "organizations/list"%>
  </div>
</div>