<h1>Editing External Stakeholder</h1>

<%= render 'form', external_stakeholder: @external_stakeholder %>

<%= link_to 'Show', @external_stakeholder %> |
<%= link_to 'Back', external_stakeholders_path %>
