<h1>Editing Join Messages Recipient</h1>

<%= render 'form', join_messages_recipient: @join_messages_recipient %>

<%= link_to 'Show', @join_messages_recipient %> |
<%= link_to 'Back', join_messages_recipients_path %>
