<div class="row mt-5 align-items-center">
  <div class="col">
  </div>
  <div class="col-10 ">
    <h1>Créer une nouvelle organisation</h1>

    <%= render 'form', organization: @organization %>

    <%= link_to 'Back', organizations_path %>

  </div>
  <div class="col">
  </div>
</div>
