<div class="d-flex">
  <div class="d-flex flex-column" id="sidebar">
      <%= render "admin/partials/dashboards/index/sidebar"%>
  </div>
  <div class="d-flex flex-column m-5" id="panel">
    <%= render "#{@render_view}"%>
  </div>
</div>