<hr class="mt-5 mb-3">
<h5 class="text-info">Organisations gérées</h5>
<hr class="mt-2">

<ul class="nav nav-pills flex-column mb-auto">
  <% current_user.managed_organizations.each do |organization| %>
    <li class="nav-item" style="font-size:smaller">
        <%= link_to "#{organization.name}", user_dashboards_organizations_legalreps_path(organization_managed: organization.id), class:"sidebar-item text-secondary text-decoration-none" %>
    </li>
  <% end %>
</ul>