<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <%= link_to "Éditer mon profil", user_dashboards_index_path(clicked_link: "Editer mon profil"), class:"btn btn-outline-light py-1" %>
  </li>
  <span class="my-2"><b><%=current_user.email%></b></span>
</ul>