<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <%= link_to "Éditer mon profil", edit_profile_path(current_user.profile), class:"btn btn-outline-light py-1" %>
  </li>
  <span class="my-2"><b><%=current_user.email%></b></span>
</ul>